html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/**, *:before, *:after {*/
  /*box-sizing: border-box;*/
  /*margin: 0;*/
/*}*/

.wrapper {
  padding-top: 10px;
  background: #FAFAFA;
  width: 100%;
  min-height: calc(100vh - 61px);
}

/*.el-card {*/
  /*flex: 1;*/
/*}*/

/*.container:not(.__nuxt-error-page) {*/
  /*width: 96%;*/
  /*max-width: 980px;*/
  /*padding: 30px 0;*/
  /*margin: 0 auto;*/
  /*min-height: calc(100vh - 61px);*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: flex-start;*/
/*}*/

/*.text-left {*/
  /*text-align: left;*/
/*}*/

/*.text-center {*/
  /*text-align: center;*/
/*}*/

/*.text-right {*/
  /*text-align: right;*/
/*}*/

/*p {*/
  /*margin: 16px 0;*/
/*}*/

/*.postArea {*/
  /*padding: 20px 50px;*/
/*}*/

/*.map {*/
  /*margin-top: 50px;*/
/*}*/

#mobileheader{
  display: inline-flex;
  margin-bottom: 5px;
}

.headerscontainer {
  display: flex;
}

.inline {
  display: inline-flex;
  justify-content: flex-end;
}

.details{
  background-color: azure;
  width: auto;
  min-height: 150px ;
  margin: 10px ;
  padding-bottom: 20px;

}

#map {
  width: 100% ;
  height: auto ;
  min-height: 300px;
  margin-top: 50px;
}

/*@media (max-width: 680px) {*/
  /*#theheader{*/
    /*display: none;*/
  /*}*/
  /*#mobileheader{*/
    /*display: inline-flex;*/
  /*}*/
/*}*/

.sk-cube-grid {
  width: 200px;
  height: 200px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}
